
/* 
    Created on : 12 de jan. de 2025, 18:34:58
    Author     : Alan Guedes
*/
body {
    font-family: Arial, sans-serif;
}

form {
    margin: 0 auto;
    width: 300px;
}

label, input {
    display: block;
    margin-top: 10px;
}


